In [1]:
import numpy as np
import pandas as pd

In [7]:

df = pd.DataFrame([
    {'nama':'Andi', 'nilai':90},
    {'nama':'Andi', 'nilai':94},
    {'nama':'Andi', 'nilai':95},
    {'nama':'Andi', 'nilai':96},
    {'nama':'Budi', 'nilai':92},
    {'nama':'Budi', 'nilai':90},       

])
dfGroup = df.groupby('nama')
# dfGroup.get_group('Budi')
dfGroup.min()
dfGroup.max()
dfGroup.mean()

      nilai
nama
Andi  93.75
Budi  91.00

In [10]:

df = pd.DataFrame([
    {'nama':'Andi','fisika':90, 'biologi':78},
    {'nama':'Andi','fisika':95, 'biologi':80},
    {'nama':'Andi','fisika':93, 'biologi':96},
    {'nama':'Andi','fisika':92, 'biologi':95},
    {'nama':'Budi','fisika':80, 'biologi':93},
    {'nama':'Budi','fisika':88, 'biologi':90},       

])
dfGroup = df.groupby('nama')
# dfGroup.get_group('Budi')
# dfGroup.min()
# dfGroup.max()
dfGroup.mean()
# dfGroup.get_group('Andi').max()['fisika']
df[df['nama'] == 'Andi']['fisika'].max()

95