In [1]:
import pandas as pd
import numpy as np

CSV IMPORT

In [23]:
df = pd.read_csv('data_ptabc.csv', sep = ',') #delimiter = ';', header =2, skiprows = 2,engine='python'

In [24]:
df

        No,Nama,Usia,Kota,Gaji
0    1,Andi,22,Jakarta,1100000
1  2,Budi,32,Palembang,1290897
2    3,Caca,23,Bandung,3257896
3   4,Deni,24,Semarang,4579765
4      5,Euis,23,garut,3256797

In [19]:
df['Gaji'].describe().loc['max']

KeyError: 'Gaji'

In [20]:
df['Gaji'].min()

KeyError: 'Gaji'

In [21]:
df['Gaji'].mean()

KeyError: 'Gaji'

In [18]:
df['Gaji'].sum()

15071887

In [19]:
df['Gaji'].mode()

0      234898
1      324859
2     1100000
3     3409090
4    10003040
dtype: int64

In [20]:
df['Gaji'].median()

1100000.0

In [21]:
df[df['Gaji']==df['Gaji'].min()]

   No.  Nama  Usia   Kota    Gaji
4    5  Euis    54  Garut  234898

In [22]:
df[df['Gaji']==df['Gaji'].min()][['Nama','Usia']]

   Nama  Usia
4  Euis    54

In [23]:
df['Gaji'].describe

<bound method NDFrame.describe of 0     1100000
1    10003040
2     3409090
3      324859
4      234898
Name: Gaji, dtype: int64>

In [24]:
df[df['Usia']>25]

   No.  Nama  Usia   Kota    Gaji
4    5  Euis    54  Garut  234898

In [26]:
df[df['Usia']!=25][df['Kota']=='Jakarta']

   No.  Nama  Usia     Kota     Gaji
0    1  Andi    22  Jakarta  1100000

In [27]:
df[(df['Usia']!=25) & (df['Kota']=='Jakarta')]

   No.  Nama  Usia     Kota     Gaji
0    1  Andi    22  Jakarta  1100000

In [29]:
df[(df['Usia']>20) & (df['Usia']<30)]

   No.  Nama  Usia      Kota     Gaji
0    1  Andi    22   Jakarta  1100000
2    3  Caca    23   Bandung  3409090
3    4  Deni    24  Semarang   324859

In [30]:
df[(df['Usia']>20) | (df['Kota']=='Jakarta')]

   No.  Nama  Usia      Kota     Gaji
0    1  Andi    22   Jakarta  1100000
2    3  Caca    23   Bandung  3409090
3    4  Deni    24  Semarang   324859
4    5  Euis    54     Garut   234898

EXCEL import

df = pd.read_excel('data_ptabc.xlsx', header = 2, skipfooter = 2)

In [31]:
df

   No.  Nama  Usia       Kota      Gaji
0    1  Andi    22    Jakarta   1100000
1    2  Budi     3  Palembang  10003040
2    3  Caca    23    Bandung   3409090
3    4  Deni    24   Semarang    324859
4    5  Euis    54      Garut    234898

In [38]:
kol = df.columns.tolist()
kol

['No.', 'Nama', 'Usia', 'Kota', 'Gaji']

In [39]:
kol = kol[-1:] + kol[:-1]
kol

['Gaji', 'No.', 'Nama', 'Usia', 'Kota']

In [41]:
df.to_csv('filebaru.csv', index=False) # import to csv

In [42]:
df.to_excel('filebaru.xlsx', index = False)  #import to excel

In [46]:
df =pd.read_excel('data_ptabc.xlsx','Sheet1')

In [47]:
df

   id     nama        kota
0  20      Ali    Denpasar
1  23  Bambang        Palu
2  43    Cindi       Medan
3  45     Didi  Yogyakarta
4  23     Ello      Kediri

In [57]:
df = pd.read_html('http://digidb.io/digimon-list/')
df
# df[0].to_csv('digimonku.csv')
df[0].to_json('digimonku.json',orient= 'records')

In [66]:
import requests
url = 'https://pokemondb.net/pokedex/all'
x=requests.get(url)
df=pd.read_html(x.text)
df = df[0]
df

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...
921,805,Stakataka,Rock Steel,570,61,131,211,53,101,13
922,806,Blacephalon,Fire Ghost,570,53,127,53,151,79,107
923,807,Zeraora,Electric,600,88,112,75,102,80,143
924,808,Meltan,Steel,300,46,65,65,55,35,34
925,809,Melmetal,Steel,600,135,143,143,80,65,34

In [67]:
df[df['Speed'] == df['Speed'].max()]

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
454,386,Deoxys Speed Forme,Psychic,600,50,95,90,95,90,180

In [68]:
df.Type

0      Grass Poison
1      Grass Poison
2      Grass Poison
3      Grass Poison
4              Fire
           ...
921      Rock Steel
922      Fire Ghost
923        Electric
924           Steel
925           Steel
Name: Type, Length: 926, dtype: object

In [69]:
df['Type'].unique()

array(['Grass Poison', 'Fire', 'Fire Flying', 'Fire Dragon', 'Water',
       'Bug', 'Bug Flying', 'Bug Poison', 'Normal Flying', 'Normal',
       'Dark Normal', 'Poison', 'Electric', 'Electric Psychic', 'Ground',
       'Ice Steel', 'Poison Ground', 'Fairy', 'Ice', 'Ice Fairy',
       'Normal Fairy', 'Poison Flying', 'Bug Grass', 'Ground Steel',
       'Dark', 'Fighting', 'Water Fighting', 'Psychic', 'Water Poison',
       'Rock Ground', 'Rock Electric', 'Water Psychic', 'Electric Steel',
       'Water Ice', 'Poison Dark', 'Ghost Poison', 'Grass Psychic',
       'Grass Dragon', 'Fire Ghost', 'Ground Rock', 'Grass',
       'Psychic Fairy', 'Ice Psychic', 'Water Flying', 'Water Dark',
       'Rock Water', 'Rock Flying', 'Ice Flying', 'Electric Flying',
       'Dragon', 'Dragon Flying', 'Psychic Fighting', 'Water Electric',
       'Fairy Flying', 'Psychic Flying', 'Electric Dragon', 'Water Fairy',
       'Rock', 'Grass Flying', 'Water Ground', 'Dark Flying', 'Ghost',
       'Normal Psychic', 'Bug Steel', 'Ground Flying', 'Steel Ground',
       'Bug Rock', 'Bug Fighting', 'Dark Ice', 'Fire Rock', 'Ice Ground',
       'Water Rock', 'Steel Flying', 'Dark Fire', 'Water Dragon',
       'Rock Dark', 'Psychic Grass', 'Fire Fighting', 'Water Grass',
       'Grass Dark', 'Bug Water', 'Grass Fighting', 'Bug Ground',
       'Bug Ghost', 'Dark Ghost', 'Steel Fairy', 'Steel Rock', 'Steel',
       'Fighting Psychic', 'Fire Ground', 'Ground Dragon', 'Dragon Fairy',
       'Rock Psychic', 'Ground Psychic', 'Rock Grass', 'Rock Bug',
       'Ice Water', 'Steel Psychic', 'Dragon Psychic', 'Ground Fire',
       'Grass Ground', 'Water Steel', 'Normal Water', 'Rock Steel',
       'Ghost Flying', 'Normal Fighting', 'Ghost Dark', 'Dragon Ground',
       'Fighting Steel', 'Poison Bug', 'Poison Fighting', 'Grass Ice',
       'Ice Ghost', 'Electric Ghost', 'Electric Fire', 'Electric Water',
       'Electric Ice', 'Electric Grass', 'Steel Dragon', 'Fire Steel',
       'Ghost Dragon', 'Psychic Fire', 'Grass Fairy', 'Ground Dark',
       'Fire Psychic', 'Dark Fighting', 'Normal Grass', 'Water Ghost',
       'Bug Electric', 'Grass Steel', 'Ghost Fire', 'Ground Electric',
       'Ground Ghost', 'Dark Steel', 'Dark Dragon', 'Bug Fire',
       'Steel Fighting', 'Rock Fighting', 'Flying', 'Dragon Fire',
       'Dragon Electric', 'Dragon Ice', 'Normal Ground', 'Fire Normal',
       'Fighting Dark', 'Steel Ghost', 'Dark Psychic', 'Poison Water',
       'Poison Dragon', 'Electric Normal', 'Rock Dragon', 'Rock Ice',
       'Fighting Flying', 'Electric Fairy', 'Rock Fairy', 'Ghost Grass',
       'Flying Dragon', 'Psychic Ghost', 'Psychic Dark', 'Fire Water',
       'Grass Ghost', 'Fire Dark', 'Fighting Ice', 'Bug Fairy',
       'Water Bug', 'Poison Fire', 'Ghost Ground', 'Ghost Fairy',
       'Normal Dragon', 'Dragon Fighting', 'Psychic Steel', 'Rock Poison',
       'Psychic Dragon', 'Fighting Ghost'], dtype=object)

Cari data desa BPS:
    . Provinsi max & min 03,05,08,10,12,14